/*------------------------------*/
/* 変数 */
/*------------------------------*/

/*------------------------------*/
/* 色設定 */
/*------------------------------*/
$base-color-primary: #fff;
$base-color-secondary: #fafafa;

$text-color-primary: #010101;
$text-color-secondary: #fff;

$key-color-black: #010101;

// $color-body-background: $base-color-primary;
$color-body-background: rgb(219, 188, 129);

/*------------------------------*/
/* フォント */
/*------------------------------*/
$font-base: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka',
'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;

$font-ubuntu: 'Ubuntu', sans-serif;


